<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="~{fragments/header :: header}">-->
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <!--<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>-->
    <div>
        <h1>DO It Authentication</h1>
        <div>
            <a href="/members/new">회원가입</a>
            <br><br><br>
            <a href="/login">로그인</a>
            <br><br><br>
            <a href="/">소셜로그인</a>
            <br><br><br>
        </div>
        <!--<div th:replace="~{fragments/footer :: footer}"/>-->
    </div>
</div> <!-- /container -->
</body>
</html>